body {
    background-color: #ffcc99;
    text-align: center;
}

h3 {
    font-family: 'Lucida Calligraphy'
}

p {
    font-family: 'Lucida Calligraphy';
}

label {
    font-family: 'Lucida Calligraphy'
}